body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

input {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header' 'left main right' 'footer footer footer';
    grid-gap: 5px;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 80px auto 100px;
    background-color: #e3e3e3;
    min-height: 100vh;
}

.grid-container > div {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-size: 30px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20% 20% 1fr 35% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: 'left title none form right';
}

#title {
    text-align: center;
    margin: auto;
    grid-area: title;
}

form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-area: form;
}

form > div {
    margin: auto;
    text-align: center;
}

.main {
    grid-area: main;
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3vw;
}

.image-container > button {
    padding: 0;
    margin: 0;
    border: black;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.image {
    max-width: 70vw;
    max-height: 70vh;
}

.thumbnail {
    width: 200px;
    height: 200px;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    min-height: 30px;
}

.modal-default-button {
    float: right;
    margin-right: 15px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button {
    cursor: pointer;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .3);
    background-image: -webkit-linear-gradient(#52A8E8, #377AD0);
    background-image: -moz-linear-gradient(0% 100% 90deg, #377AD0, #52A8E8);
    background-image: -o-linear-gradient(rgb(82, 168, 232), rgb(55, 122, 208));
    background-color: #52A8E8;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 2px;
    border: 1px solid #20559A;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5), inset 0 1px 0 rgba(255, 255, 255, .3);
}

.button:active:hover, .button:focus {
    background-image: -webkit-linear-gradient(#54A1D8, #1967CA);
    background-image: -moz-linear-gradient(0% 100% 90deg, #1967CA, #54A1D8);
    background-image: -o-linear-gradient(rgb(84, 161, 216), rgb(25, 103, 202));
    background-color: #52A8E8;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6), inset 0 1px 0 rgba(255, 255, 255, .3);
}

.button:active {
    background-color: #2D7CD1;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .5), inset 0 2px 5px rgba(0, 0, 100, .5);
}

.button:disabled {
    background-image: -webkit-linear-gradient(#c2c2c2, #dedede);
    border: 1px solid #555555;
    cursor: auto;
}

.flashed-messages {
    font-size: 20px;
}

.error {
    color: red;
}